{% load static %}

{% for target in targets %}
    <div class="server" id="{{ target.element_id }}" data-target-id="{{ target.data_target_id }}">
        <div class="server-left-part">
            {% include "dashboard/parts/2_server-img.html" %}
            <div class="server-empty justify-content-center" data-add-info="server-add-info-indicator">
                {# Свободное место #}
            </div>
        </div>
        <div class="server-info">
            {% include "dashboard/parts/3_server-cpu.html" %}
            {% include "dashboard/parts/4_server-ram.html" %}
            {% include "dashboard/parts/5_server-disk.html" %}
            {% include "dashboard/parts/6_server-apps.html" %}
            {% include "dashboard/parts/7_server-network.html" %}
        </div>
    </div>
{% endfor %}
