<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <script src="{% static "jquery/jquery-3.6.1-min.js" %}"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    <div class="container-fluid">
        <header class="row">
            <nav class="navbar navbar-expand-lg navbar-light header">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a href="{% url "dashboard:index" %}"
                           class="navbar-brand header-text">ЦУ МСК IVA-R Dashboard</a>
                    </div>
                    <div>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a href="{% url "dashboard:index" %}"
                                                    class="nav-link header-text">Главная</a></li>
                            <li class="nav-item"><a href="{% url "admin:index" %}"
                                                    class="nav-link header-text">Панель админа</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    {% block dashboard %}
    {% endblock %}
    </div>
</body>
</html>