<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "main.css" %}">
    <script src="{% static "jquery/jquery-3.6.1-min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
    <title>{% block title %}Dashboard{% endblock %}</title>
</head>
<body class="d-flex flex-column h-100">
    <header class="flex-shrink-0">
        <nav class="navbar navbar-expand-lg navbar-dark header">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="{% url "dashboard:index" %}"
                       class="navbar-brand header-text">ЦУ МСК IVA MCU Инфопанель
                    </a>
                </div>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a href="{% url "dashboard:index" %}"
                                                    class="nav-link header-text">Главная</a></li>
                            <li class="nav-item"><a href="{% url "admin:index" %}"
                                                    class="nav-link header-text">Панель админа</a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block dashboard %}
    {% endblock %}
    <footer class="footer mt-auto py-3 bg-light container-fluid">
        <div class="container text-center">created by pavel borodin</div>
    </footer>
</body>
</html>