{% load widget_tweaks %}

<form action="" method="post" >
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Войти в систему</h3>
        <button type="button" data-dismiss="modal" aria-label="Close" class="btn-close">
        </button>
    </div>

    <div class="modal-body">
        <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
            {% for error in form.non_field_errors %}
                {{ error }}
            {% endfor %}
        </div>

        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% render_field field class="form-control" placeholder=field.label %}
                <div class="{% if field.errors %} invalid{% endif %} mb-2">
                    {% for error in field.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <input type="hidden" name="next" value="{{ success_url }}">
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>