/.idea
/envs
/postgres
/monitor_serv/.idea
/get_processes_status.http
/postgres/docker-entrypoint-initdb.d/init-user-db.sh
/docker-compose.yml
/monitor_agent_logs
/monitor_agent/monitor_agent.Dockerfile
/monitor_serv/monitor_serv.Dockerfile
/monitor_nginx/monitor_nginx.Dockerfile
/monitor_agent/prod.monitor_agent.env
/monitor_serv/prod.monitor_serv.env
/prod.docker-compose.yml
