/.idea
/envs
/postgres
/monitor_serv/.idea
/get_processes_status.http
/packages/monitor-agent-packages/*
/packages/monitor-server-packages/*
/postgres/docker-entrypoint-initdb.d/init-user-db.sh
/docker-compose.yml
