<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Iva monitoring</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'jquery/jquery-3.6.1-min.js' %}"></script>
    <script src="{% static 'servers/js/ajax_refresher.js' %}"></script>
    <script src="{% static 'servers/js/add_servers.js' %}"></script>
</head>
<body>
    <div class="container-fluid">
    {% block servers_block %}{% endblock %}
    </div>
</body>

</html>