{% for message in messages %}
    <div class="container-fluid p-0" id="message">
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-dismiss="alert" onclick="closeMessage()">
            </button>
            {{ message }}
        </div>
        <script>
            const message = document.getElementById('message');

            function fadeOut() {
                let fade = setInterval(() => {
                    if (!message.style.opacity) {
                        message.style.opacity = "1";
                    }
                    if (message.style.opacity > 0) {
                        message.style.opacity -= "0.1";
                    } else {
                        clearInterval(fade);
                        message.setAttribute('hidden', 'hidden');
                    }
                }, 50)
            }

            function closeMessage() {
                message.setAttribute('hidden', 'hidden');
            }

            setTimeout(fadeOut, 3000);
        </script>
    </div>

{% endfor %}