<nav class="navbar navbar-expand-lg navbar-light rounded-top-2 mt-3" style="background: #6e8ff8">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'dashboard:dashboard' %}" class="nav-link text-dark">
                    <i class="bi-arrow-left-circle"></i> Назад
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    {{ address }}
                  </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    {% for url in urls %}
                        <li><a href="{{ target.url }}" class="dropdown-item">{{ url.address }}</a></li>
                    {% endfor %}
              </ul>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light" style="background: #626060">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-flex align-items-center">
            <li class="nav-item">
                <a href="{% url 'dashboard:dashboard' %}" class="nav-link text-dark">
                    <i class="bi-funnel"></i> <input type="date">
                </a>
            </li>
            <li class="nav-item">
                <select class="form-select form-select-sm" aria-label=".form-select-lg example" id="select"
                onchange="filterData(this)">
                    {% for fkeys, time_values, locale_keys in filters %}
                        {% if time_values|first == 1 %}
                            <option selected value="{{ fkeys }}"
                                    data-dateTimeValue="{{ time_values }}">
                                {{ locale_keys }}
                            </option>
                        {% else %}
                            <option value="{{ fkeys }}"
                                    data-dateTimeValue="{{ time_values }}">
                                {{ locale_keys }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </li>
        </ul>
    </div>
</nav>
<script>
    $('.navbar-nav.mr-auto').find('a').hover(function () {
        $(this).removeClass('text-dark');
        $(this).addClass('text-light');
    }, function () {
        $(this).removeClass('text-light');
        $(this).addClass('text-dark');
    });

    $('#navbarDarkDropdownMenuLink').click(function () {
        $('[aria-labelledby="navbarDarkDropdownMenuLink"]').addClass('show');
    }).hover(() => {
        {#$('[aria-labelledby="navbarDarkDropdownMenuLink"]').addClass('show');#}
    }, () => {
        $('[aria-labelledby="navbarDarkDropdownMenuLink"]').removeClass('show');
    });

</script>
<style>
    .navbar-nav.mr-auto > li > a {
        font-size: 14px;
        font-weight: 500;
    }
</style>