{% extends "base.html" %}

{% csrf_token %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "dashboard/css/dashboard.css" %}">
{% endblock %}
{% block js %}
    {% if user.is_authenticated %}
        <script type="module" src="{% static "dashboard/js/refresher.js" %}"></script>
        <script type="module" src="{% static "dashboard/js/extensions.js" %}"></script>
    {% endif %}
{% endblock %}
{% block dashboard %}
    <section class="flex-shrink-0" id="servers" >
        {% if user.is_authenticated %}
            {% include "dashboard.html" %}
        {% endif %}
    </section>
{% endblock %}
{% block version %}
    {{ app_version }}
{% endblock %}