{% extends "base.html" %}

{% csrf_token %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "dashboard/css/dashboard.css" %}">
{% endblock %}
{% block js %}
    <script src="{% static "dashboard/js/refresher.js" %}"></script>
{% endblock %}
{% block dashboard %}
    <section class="flex-shrink-0" id="servers">
        <div class="row container-fluid servers-container">
            <div class="col-md-6 left">
                <div><h4 class="text-dark text-center">Мониторинг серверов</h4></div>
                <div class="servers flex-shrink-0">
                    {% for address in addresses %}
                        <div class="server" id="{{ address.address }}">
                            <div class="server-left-part">
                                <div class="server-img">
                                    <img class="img" src="{% static "dashboard/images/icons8-server-64.png" %}"
                                             alt="server-image">
                                    <div class="server-hostname text-center">Host undefined</div>
                                    <div class="server-status">no data</div>
                                    <div class="server-address">{{ address.address }}</div>
                                    <div class="server-address">{{ address.role|upper }}</div>
                                </div>
                                <div class="server-empty justify-content-center">
{#                                    <img class="server-info-icon"#}
{#                                         src="{% static "dashboard/images/icons8-unlike-64.png" %}"#}
{#                                         alt="server-status"><p>?</p>#}
                                </div>
                            </div>
                            <div class="server-info">
                                <div class="server-indicator server-cpu">
                                        <img class="server-info-icon"
                                             src="{% static "dashboard/images/icons8-cpu-64.png" %}"
                                             alt="server-cpu"><p>0%</p></div>
                                <div class="server-indicator server-ram">
                                    <img class="server-info-icon"
                                         src="{% static "dashboard/images/icons8-ram-64.png" %}"
                                                                  alt="server-ram"><p>0%</p></div>
                                <div class="server-indicator server-disk">
                                    <img class="server-info-icon"
                                         src="{% static "dashboard/images/icons8-disk-64.png" %}"
                                                                  alt="server-disk"><p>0%</p></div>
                                <div class="server-indicator server-processes">
                                    <img class="server-info-icon"
                                         src="{% static "dashboard/images/icons8-code-64.png" %}"
                                                                  alt="server-processes"><p>0</p></div>
                                <div class="server-indicator server-network">
                                    <img class="server-info-icon"
                                         src="{% static "dashboard/images/icons8-ethernet-64.png" %}"
                                                                  alt="server-network"><p>?</p></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {# TODO: Добавить отображение пользователей IVA           #}
            {# еще один div col-md-6 #}
        </div>
    </section>
{% endblock %}