{% extends 'base/2_index.html' %}

{% load static %}

{% block dashboard %}
<section class="flex-shrink-0" id="servers">
    <div class="row container-fluid servers-container">
        <div class="col-md-6 left">
            <h4 class="text-dark text-center">
                Мониторинг серверов: <b id="agent-status">неизвестно.</b>
            </h4>
            <div class="servers flex-shrink-0">
                {% include "parts/1_server.html" %}
            </div>
        </div>
    {# TODO: Добавить отображение пользователей IVA #}
        <div class="col-md-6 left">
            <h4 class="text-dark text-center">
                Пользователи IVA
            </h4>
            <div class="ivcs-users flex-shrink-0">
                {% include "dashboard_ivcs/_ivcs_users.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock dashboard %}
