{% extends "base/1_base.html" %}

{% load static %}

{% block content %}
    <!-- BODY -->
    <!-- header -->
    {% include "dashboard/base/3_header.html" %}
    {% include "dashboard/base/_messages.html" %}
    <!-- /header -->
    <!-- dashboard -->
    {% if user.is_authenticated %}
        {% block dashboard %}
        {% endblock %}
    {% elif not index %}
        {% block register %}
        {% endblock %}
        {% block login %}
        {% endblock %}

        <!-- MODAL LOGIN/SIGNUP
        {#        {% include "dashboard_users/auth/_no_auth.html" %}#}
        {#        {% include "dashboard/base/_modal.html" %}#}

        <script type="text/javascript">
            $(function () {
                $("#signupForm").modalForm({
                    formURL: "{% url 'dashboard_users:signup' %}"
                });

                $("#loginForm").modalForm({
                    formURL: "{% url 'dashboard_users:login' %}"
                });
            });
        </script>
        -->
    {% else %}
        <p>Добро пожаловать в IVA MCU Dashboard</p>
    {% endif %}
    <!-- /dashboard -->
    <!-- footer -->
    {% include "dashboard/base/5_footer.html" %}
    <!-- /footer -->
    <!-- /BODY -->
{% endblock %}