{% extends "base/1_base.html" %}

{% load static %}

{% block title %}Главная{% endblock %}

{% block content %}
    <!-- BODY -->
    <!-- header -->
    {% include "dashboard/base/3_header.html" %}
    {% include "dashboard/base/_messages.html" %}
    <!-- /header -->
    <!-- dashboard -->
    {% if user.is_authenticated %}
        {% block dashboard %}
        {% endblock %}
    {% elif not index %}
        {% block register %}
        {% endblock %}
        {% block login %}
        {% endblock %}

        <!-- MODAL LOGIN/SIGNUP
        {#        {% include "dashboard_users/auth/_no_auth.html" %}#}
        {#        {% include "dashboard/base/_modal.html" %}#}

        <script type="text/javascript">
            $(function () {
                $("#signupForm").modalForm({
                    formURL: "{% url 'dashboard_users:signup' %}"
                });

                $("#loginForm").modalForm({
                    formURL: "{% url 'dashboard_users:login' %}"
                });
            });
        </script>
        -->
    {% else %}
        <div class="container py-md-5">
            <h3 class="text-center mb-5">Добро пожаловать в IVA MCU Dashboard</h3>
            <div class="mb-5">
                <div class="pt-3 pb-3 d-flex justify-content-center">
                    Инфопанель предназначена для мониторинга серверов IVA MCU РЖД.<br>
                    Связь с разработчиком:
                </div>
                <div class="container d-flex justify-content-center">
                    <div class="pb-3 w-35">
                        <ul class="d-flex flex-column ">
                            <li>Рабочая почта: <b class="auth-refs">
                                <a href="mailto:borodinpa@css.rzd&subject='IVA Dashboard'">
                                borodinpa@css.rzd
                                </a></b>
                            </li>
                            <li>Телефон: <b>77619</b></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-center">
                <div class="mb-2 auth-refs">
                    <a href="{% url 'dashboard_users:login' %}">Войдите</a> или
                    <a href="{% url 'dashboard_users:login' %}">зарегистрируйтесь</a>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- /dashboard -->
    <!-- footer -->
    {% include "dashboard/base/5_footer.html" %}
    <!-- /footer -->
    <!-- /BODY -->
{% endblock %}