{% extends "dashboard/base/2_index.html" %}

{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Регистрация{% endblock %}
{% block register %}
    <div class="container py-5">
        <h5>Регистрация</h5>
        <form method="post" action="">
            {% csrf_token %}
            {{ register_form|as_crispy_errors }}
            <div class="row">
                <div class="col-12">
                    {{ register_form.username|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ register_form.first_name|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ register_form.last_name|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ register_form.email|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ register_form.password1|as_crispy_field }}
                </div>
                <div class="col-12">
                    {{ register_form.password2|as_crispy_field }}
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Зарегистрироваться</button>
            <p class="text-center auth-refs">
                Если у вас уже есть аккаунт - <a href="{% url 'dashboard_users:login' %}" class="auth-refs">
                войдите в него.</a>
            </p>
        </form>
    </div>
{% endblock %}